.total {
  display: flex;
  justify-content: space-between;
}

.total span:nth-child(1) {
  font-size: 2rem;
  color: orange;
  font-weight: bold;
  letter-spacing: 2px;
}

.total span:nth-child(2) {
  font-size: 2rem;
  color: red;
  font-weight: bold;
}
